body{
	width:100vw;
	height: 100vh;
}
#container
{
	position:relative;
	display:flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
}
#allvid{
	background-color: black;
	position:absolute;

}
#allvid:hover #controle{
	visibility: visible;
}
#video{	
	width:100%;
	height:100%;
	z-index:-1;
}

#controle{
	background-color: rgb(30,30, 66);
	visibility: hidden;
	margin-top: 0px;
	position:relative;
	height:40px;
	margin-top: -44px;
	min-width: 250px;
}

#playPauseButton{
	position:relative;
	left:4px;
	top: 6px;
	background-color:rgba(30,30,66,0.3);
	height:27px;
	width:27px;
	border-radius: 15px;
	border-color: #73008C;
	margin: 2px;
	cursor: pointer;
}

#videoTime{
	position:relative;
	top: 6px;
	color:white;
	width:80px;
}
#sonButton{
	position:relative;
	top: 6px;
	background-color:rgba(30,30,66,0.3);
	height:26px;
	width:26px;
	border-radius: 13px;
	border-color: #73008C;
	cursor: pointer;
}

#barreSon{
	position: relative;
	top: 3px;
	width:60px;
	-webkit-appearance: none;     
	padding: 0;                   
	height: 4px;
	border-radius:1px;
	font: inherit;                
	outline: solid;
	border-radius:2rem;
	color: transparent;                  
	opacity: .8;
	background: linear-gradient(to right, grey,#8A00A8);            
	box-sizing: content-box;       
	cursor: pointer;
}

#barreSon::-webkit-slider-thumb{
	-webkit-appearance:none;
	background: rgb(30,30, 66);
	border: 1px solid silver;
	border-radius: 7px; 
	height:14px;
	width:14px;
}
#barreSon::-moz-range-thumb {
	background: rgb(30,30, 66);
	border: 1px solid silver;
	border-radius: 7px; 
	height:14px;
	width:14px;
}
#barreSon::-ms-thumb {
	background: rgb(30,30, 66);
	border: 1px solid silver;
	border-radius: 7px; 
	height:14px;
	width:14px;
}

#fullScreenButton{
	position: absolute;
	top: 13px;
	right:6px;
	background-color:rgba(30,30,66,0.3);
	height:25px;
	width:25px;	
	border:none;
	cursor: pointer;
}
#deplacement{
position:absolute;
bottom: 9px;
right: 35px;
background-color:rgba(30,30,66,0.3);
border:none;
}
#resize{
position:absolute;
bottom: 9px;
right: 55px;
background-color:rgba(30,30,66,0.3);
border:none;	
}
#fullScreenButton:hover i{
font-size:1.3em;
}

#bleu{
	width: 100%;
	height: 4px;
	background-color: rgb(30,30, 66);
}
#barreProgression{
	position:absolute;
	flex-direction: row;
	width:96%;
	height:3px;
	margin-right: : 2%;
	margin-left: 2%;
	background-color: silver;
	border-radius: 1px;
	cursor: pointer;
}
#progression{
	position:absolute;
	top:0px;
	height:3px;
	width: 0%;
	background-color: #BF0EE6;
	border-radius: 1px 0px 0px 1px;
	z-index: 1;
}

.rouge{background-color: red;}

#container:-webkit-full-screen, .my-container:-moz-full-screen #controle{
	background-color: rgb(30,30, 66);
	margin-top: 0px;
	visibility: hidden;
	position:relative;
	height:40px;
	margin-bottom: 0px;
}